{%extends 'base.html'%}
{%block content%}
    <!-- <div class="hero-image" style="background-color: #154157;"> -->
 <div class="hero-image" style="background-image:url(static/images/background1.jpg)">
        <header class="header">
                <div class="actions">
                    
                </div>
        </header>
           
    <div class="container">
        <div class="hero-text">
            <h1>Hey! I am Venecia Kakusha</h1>
                <p class="hero-job"><span>I'M A CREATIVE SOFTWARE DEVELOPER</span></p>
                <p class="hero-job">--FIND WHO YOU ARE,
                    THEN, DO IT ON PURPOSE--</p>
                    <!-- <a class="btn" href="#"> Download My Resume</a> -->
                <a class="btn" style="background-color: #F4E7EF" href="mailto:kakushavenecia@gmail.com"> Hire Me</a>
        </div>  
    </div>
 </div>
{%endblock%}
<!-- About-->
